@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff")  ;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff")  ;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter-Medium.woff") format("woff")  ;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff")  ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Causten";
    src: url("../fonts/causten/causten-regular-webfont.woff2") format("woof2"),
    url("../fonts/causten/causten-regular-webfont.woff") format("woof");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Core Sans C";
    src: url("../fonts/core-sans-c/CoreSansC-65Bold.woff2") format("woof2"),
    url("../fonts//core-sans-c/CoreSansC-65Bold.woff") format("woof");
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Causten";
    src: url("../fonts/causten/causten-bold-webfont.woff2") format("woof2"),
    url("../fonts/causten/causten-bold-webfont.woff") format("woof");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
