
@import url("fonts.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600&display=swap");
/*===============================================*/
.wrapper{
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
}
.header{

}
.page{
    flex: 1 1 auto;
}
.footer{

}
/*=============================================*/

.products {
    background: #FEFAF4;
    font-family: "Inter", sans-serif;
    font-size: 16px;
  
}
.products__container {
   
    padding: 125px 15px 114px 15px;
    
}
.products__title {
    font-family: "DM Serif Text", serif;
    font-size: 58px;
    margin-bottom: 27px;

}
.products__sub-title {
    color: #606060;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 62px;
}
.products__row {
    display: flex;
    column-gap: 50px;

}
.products__card {
    flex: 1 1 33.333%;
}
@media (max-width:992px){
    .products__row{
        
        column-gap: 30px;
    }
    .products__card {
        flex: 1 1 33.333%;
    }
    .products__container {
        
        padding: 50px 15px 40px 15px;
        
    }
    .products__title{
        margin-bottom: 17px;
    }
    .products__sub-title{
        margin-bottom: 22px;
    }
}
@media(max-width:768px){
    .products__row{
        flex-direction: column;
        row-gap: 30px;
    }
    .products__card {
        flex: 1 1 auto;
    }
}
@media (max-width: 480px){
    .products__container {
        
        padding: 20px 15px 15px 15px;
        
    }
    .products__title{
        font-size: 45px;
    }
    .products__sub-title{
       line-height: 1.2;
    }
}
.card-products {
}

.card-products__image {
    
    aspect-ratio: 357/240;
    margin-bottom: 16px;
    overflow: hidden;
}
.card-products__image img{
     width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.card-products__image:hover.card-products__image img{
    transform: scale(1.1);
}
.card-products__title {
    font-family: "DM Serif Text", serif;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 16px;
    transition: all 0.1s;
}
.card-products__title:hover{
    text-decoration: underline;
    color: #F55529;
}
.card-products__content {
    line-height: 1.6;
    opacity: 0.7;
    margin-bottom: 8px;
}

.card-products__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-products__link {
    color: #F55529;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    transition: all 0.2s;
}
.card-products__link:hover{
    color: #fd8e6f;
}
.card-products__link:active{
    color: #F55529;
}
.card-products__icon img{
    border-radius: 50%;
}
.card-products__icon img:hover {
    
    box-shadow: 0px 0px 8px #fd8e6f;
}
/*=============================================*/

.popular-products {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    line-height: 1.4;
}
.popular-products__container {
    
   
    padding: 96px 15px 83px 15px;
}
.popular-products__title {
    color: #291403;
    font-family: "DM Serif Text", serif;
    font-size: 58px;
    margin-bottom: 27px;
}
.popular-products__sub-title {
    color: #818181;
    font-size: 30px;
    
    margin-bottom: 62px;
}
.popular-products__row {
    margin-bottom: 76px;
    display: flex;
    column-gap: 30px;
}
.popular-products__item {
    
}
.popular-products__image {
    aspect-ratio: 271/270;
    margin-bottom: 17px;
    overflow: hidden;
   
}
.popular-products__image:hover.popular-products__image img{
    transform:scale(1.2) ;
    transition: all 0.3s;
   
}
.popular-products__image img{
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular-products__name{
    margin-bottom: 4px;
}
.popular-products__name a{
    font-size: 24px;
    transition: all 0.5s;
    position: relative;
}
.popular-products__name a::before{
    width: 0;
    height: 3px;
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 2px ;
    left: 50%;
   background-color: #000;
    transition: all 0.5s;
    
}
.popular-products__name a:hover::before{
    background-color: #FF7A49;
    width: 100%;
    left: 0;
}
.popular-products__name a:hover{
    color: #FF7A49;
    
}
@media (max-width:992px){
    .popular-products__row {
        margin-bottom: 56px;
        display: flex;
        row-gap: 30px;
        column-gap: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .popular-products__container {
        padding: 46px 15px 43px 15px;
    }
    .popular-products__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 45%;
    }
}
@media(max-width:768px){
    .popular-products__row {
        margin-bottom: 56px;
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        align-items: center;
    }
    .popular-products__item {
        flex: 1 1 100%;
    }
    .popular-products__sub-title {
        
        margin-bottom: 42px;
    }
    .popular-products__title{
        font-size: 48px;
    }
}
@media (max-width: 480px){
    .popular-products__title{
        font-size: 45px;
        margin-bottom: 10px;
    }
    .popular-products__container {
        padding: 26px 15px 23px 15px;
    }
    .popular-products__sub-title {
        color: #818181;
        font-size: 25px;
        
        margin-bottom: 32px;
    }
}
.popular-products__price a:hover{
    color:#FF7A49 ;
    transition: all 0.2s;
}
.popular-products__button {
    display: flex;
    justify-content: center;
}
.popular-products__link {
    padding: 12px 42.5px;
    background: #FF7A49;
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
}
.popular-products__link:hover{
    background: #fff;
    color: #FF7A49;
    outline: 1px solid #FF7A49;
    transition: all 0.2s;
}
.popular-products__link:active{
    background: #FF7A49;
    color:#FFF
}
/*==================================================*/

.our-products {
    background: #0E333D;
    font-family: "Cormorant Infant", serif;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}
.our-products__container{
   padding: 94px 15px;
}
.our-products__title {
    text-align: center;
   
    font-family: "DM Serif Text", serif;
    font-size: 48px;
    line-height: 1.27;
    font-weight: 400;
    margin-bottom: 23px;
}
.our-products__sub-title {
    color: #EBEBEB;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    line-height: 1.27;
    font-size: 20px;
    margin-bottom: 34px;
}

.our-products__menu {
    display: flex;
    justify-content: center ;
    column-gap: 41px;
    margin-bottom: 77px;
}
.our-products__item {
}
.our-products__link {
    
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27;
}
.our-products__link:hover{
    text-decoration: underline;
}
.--active{
    text-decoration: underline;
}
.our-products__row {
    display: flex;
    column-gap: 30px;
}
.our-products__card{
    flex: 1 1 25%;
}
.our-products__image  {
    margin-bottom: 17px;
}
.our-products__image>a{
    aspect-ratio: 271/270;
    overflow: hidden;
    border-radius: 5px;
}
.our-products__image>a>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.our-products__image>a>img:hover{
    transform: scale(1.1);
}
.our-products__name {
    margin-bottom: 4px;
    transition: all 0.2s;
}
.our-products__price{
    transition: all 0.2s;
}
.our-products__name:hover,
.our-products__price:hover{
    color: #c5b3b3;
}
.our-products__name:active,
.our-products__price:active{
    color: #fff;
}
@media (max-width:992px){
    .our-products__row {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 30px;
    }
    .our-products__card{
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}
@media (max-width: 768px){
    .our-products__row {
        
        flex-direction: column;
        
    }
    .our-products__card{
        flex: 1 1 100%;
       
        
    }
    .our-products__container{
        padding: 54px 15px;
     }
}
@media (max-width: 480px){
    .our-products__menu {
        row-gap: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 47px;
    }
    .our-products__link {
        font-size:22px ;
        padding: 5px 10px;
    }
    .our-products__container{
        padding: 34px 15px;
     }
}
/*=====================================================*/

.consulting {
    background-color: #37393F;
    font-family: "Inter",sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.consulting__contain {
    display: flex;
}
.consulting__content {
    flex: 1 1 36%;
   padding:138px 10px;
    align-self: center;
}
.consulting__sub-title {
    display: flex;
    column-gap: 6px;
    margin-bottom: 13px;
    align-items: center;
}
.consulting__sub-title>h3{
    text-transform: capitalize;
    font-weight: 500;

}
.consulting__square {
    background: #40DDB6;
    width: 12px;
    height: 12px;
}
.consulting__title {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 13px;
    max-width: 370px;
}
.consulting__text {
    line-height: 1.46;
    margin-bottom: 36px;
    max-width: 572px;
}
.consulting__row {
    display: flex;
    column-gap: 15px;
    margin-bottom: 36px;
}

.card-consulting {
    background: #2E2F34;
    padding: 27px 30px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.card-consulting__icon {
    position: relative;
}
.card-consulting__icon--two {
    position: relative;
}
.card-consulting__icon::before{
    content: '95%';
    position: absolute;
    margin-left: -18.4px;
    margin-top: -9px;
    top: 50%;
    left: 50%;

}
.card-consulting__icon--two::before{
    content: '85%';
    position: absolute;
    margin-left: -18.4px;
    margin-top: -9px;
    top: 50%;
    left: 50%;

}
.card-consulting__content {
}
.card-consulting__title {
    font-size: 16px;
    line-height: 1.35;
    margin-bottom: 5px;
}
.card-consulting__name {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.consulting__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 37px;
    max-width: 609px;
    justify-content: flex-start;
}
.consulting__items>div:last-child a{
    color: #40DDB6;
    position: relative;
    display: inline-block;
    
}


.consulting__items>div:last-child>a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #40DDB6;
    border-radius: 3px;
    bottom: -3px;
    left: 0;
}
.consulting__items>div:last-child>a:hover::before{
    color:#118064 ;
}
.consulting__item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.consulting__item p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.consulting__item span{
    font-size: 20px;
    font-weight: 700;
}
.consulting__item mark{
    background-color: transparent;
    color: #FFB342;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.consulting__image {
    aspect-ratio: 868/741;
    flex: 0 1 45%;
}
.consulting__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.consulting__emptiness{
    flex: 1 1 auto;
}
@media (max-width: 768px){
    .consulting__contain{
        flex-direction: column;
    }
    .consulting__emptiness{
        order: 3;
    }
    .consulting__content{
        order: 2;
        padding:60px 10px;
    }
    .consulting__image{
        order: 1;
    }
    .consulting__items {
       
        row-gap: 23px;
        column-gap: 17px;
       
    }
}
@media (max-width: 650px){
    .consulting__row {
       flex-direction: column;
        row-gap: 15px;
        margin-bottom: 36px;
    }
}
@media (max-width: 480px){
    .consulting__items {
        flex-direction: column;
    }
}
