@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,italic,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("fonts.css");
/*====================================================*/
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
}
.header {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 20px;
    background: #FFF9F4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    z-index: 2;
}
.page {
    flex-grow: 1;
}
.footer {
}
/*========================================================*/
.header__container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    background: #FFF9F4;
}
.header__logo {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    flex-shrink: 0;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
    display: flex;
    column-gap: 36px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.menu__item {
}
.menu__link {
}
@media(any-hover:hover){
    .menu__item:hover .menu__link{
        text-decoration: underline;
    } 
    .menu__link:hover::after{
        transform: rotate(180deg);
    }
    .menu__item--parent:hover .sub-menu{
        visibility: visible;
        opacity: 1;
    }
    .sub-menu__link:hover{
        text-decoration: underline;
    }
    .header__button:hover{
        background: #fff;
        color: #0E333D;
        outline: 1px solid #0E333D;
    }
}
.link-active {
    font-weight: 700;
    text-decoration: underline;
}
.menu__item--parent {
    position: relative;
}
.menu__link--arrow::after {
    content: "";
    width: 16px;
    transition: all 0.3s;
    height: 8px;
    background: url("../img/icon-3.svg") 0 0/cover no-repeat;
}
.menu__link--arrow{
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.sub-menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.sub-menu__item {
}
.sub-menu__link {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 120px;
}

.header__button {
    padding: 12px 27px;
    border-radius: 5px;
    background: #0E333D;
    font-weight: 700;
    color: #fff;
    transition: all 0.3s;
}
.header__burger {
  width: 30px;  
    height: 19.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   flex-shrink: 0;
}
.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-shrink: 0;
}
.header__burger span,
.header__burger::before,
.header__burger::after{
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    transition: all 0.3s;
    background-color: #000;
}
.menu__body>a{
    display: none;
}
@media(min-width:992px){
    .header__burger{
       
       display: none;
    }
   
}
@media(max-width:992px){
    .header__burger{
       flex: 0 0 30px;
      position: relative;
      
    }
    .header__logo,
    .header__buttons{
        z-index: 4;
    }
    .header__container{
        min-height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
       
    }
    .open-menu .menu__body,
    .open-menu .menu__body::before{
        top: 0;
    }
    .wrapper{
        
    }
    .menu__body {
        overflow: auto;
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        background-color: #c1bffa;
    }
    .menu__body::before{
        content: "";
       position: fixed;
        width: 100%;
        height: 50px;
        top: -100%;
        transition: all 0.3s;
        left: 0;
        z-index: 3;
        background-color: rgb(93, 221, 221);
    }
    .menu__list{
        flex-direction: column;
        align-items: flex-end;
        font-size: 30px;
        row-gap: 30px;
        padding-top: 60px;
        padding-right: 15px;
    }
    .open-menu+.header__buttons .header__burger span{
        opacity: 0;
    }
    .open-menu+.header__buttons  .header__burger::before{
        transform: rotate(45deg);
        top: 50%;
        position: absolute;
        margin-top: -1px;
    }
    .open-menu+.header__buttons  .header__burger::after{
        transform: rotate(-45deg);
        top: 50%;
        position: absolute;
        margin-top: -1px;
    } 
    .sub-menu{
        visibility: visible;
        position: relative;
        opacity: 1;
    }
    .menu__item--parent{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .menu__item--parent .menu__link--arrow::after{
        transform: rotate(180deg);
    }
    .sub-menu__link{
        width: 150px;
    }
}
@media(max-width:1022px){
    .menu__list {
        column-gap: 26px;
    }
}
@keyframes button-animation{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}
@media(max-width:420px){
    .header__button{
        display: none;
        
    }
    .open-menu+.header__buttons .header__button{
        display: inline-block;
       position: fixed;
       top: 60px;
       left: 10px;
       opacity: 0;
       animation-name: button-animation;
       animation-iteration-count: 1;
       animation-duration: 0.5s;
       animation-timing-function: linear;
       animation-fill-mode:forwards;
        animation-delay: 0.2s;
    }
   
   
}

/*========================================================*/
.page__design {
}
.block-design {
    font-family: 'DM Serif Text';
    padding-top: 269px;
    padding-bottom: 140px;
    background: #FFF9F4;
}
.block-design__container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.block-design__content {
   
}
.block-design__title {
    color: #0E333D;
    font-size: 78px;
    line-height: 1.27;
    max-width: 514px;
    margin-bottom: 32px;
    text-transform: capitalize;
}
.block-design__text {
    max-width: 557px;
    color: #727272;
    font-family: "Inter";
    font-weight: 400;
    font-size: 22px;
    line-height: 1.48;
    margin-bottom: 48px;
}
.block-design__buttons {
    display: flex;
    gap: 47px;
    align-items: center;

}
.block-design__button {
    text-transform: capitalize;
}
.block-design__buttons>a:first-child{
    padding: 10px 34px;
    border-radius: 5px;
    background: #0E333D;
    color: #FFF;
    font-size: 28px;
    transition: all 0.3s;
}
.block-design__buttons>a:first-child:hover{
    background-color: #fff;
    color: #0E333D;
    outline: 1px solid #0E333D;

}
.block-design__buttons>a:last-child{
    color: #0E333D;
    font-size: 28px;
    text-decoration: underline;
    
}
.block-design__buttons>a:last-child:hover{
    text-decoration: none;
}
.block-design__images {
    display: flex;
    column-gap: 32px;
}
.block-design__images >div:last-child img{
    position: relative;
    top: -69px;
}
.block-design__images >div:first-child img{
   
   
}
.block-design__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 245.6/467.7;
}
@media (max-width:1050px){
    .block-design__images{
        column-gap: 22px;
    }
    .block-design__container{
        gap: 10px;
    }
    .block-design__title{
        font-size: 70px;
    }
}
@media (max-width:992px){
    .block-design__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .block-design{
        padding-top: 160px;
        padding-bottom: 80px;
    }
    .header{
        min-height: 50px;
    }
}
@media (max-width:420px){
    .block-design__buttons{
        flex-direction: column;
       
    }
}
@media (max-width:470px){
    .block-design__images{
        flex-direction: column;
        row-gap: 20px;
    }
    .block-design__images >div:last-child img{
        position: static;
        
    }
    .block-design{
        padding-top: 100px;
    }
}