
@import url("fonts.css");
@import url("reset.css");

/*===============================================*/
.wrapper{
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
.section-one__container {
    max-width: 1250px;
    padding: 20px 15px;
    margin: 0 auto;
}
.form-consulting {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #37393F;
}
.form-consulting__sub-title {
   margin-bottom: 16px;
}
.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.sub-title__square {
    width: 12px;
    height: 12px;
    background: #40DDB6;
}
.sub-title__text {
    font-weight: 500;
    text-transform: capitalize;
}
.form-consulting__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.form-consulting__body input{
    outline: 1px solid #DDD;
    background-color: #F8F8F8;
    height: 65px;
    padding: 0 40px;
}
.form-consulting__body{
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 28px;
}
.form-consulting__item{
    flex: 1 1 45%;
    
}
.form-consulting__item:focus,
.form-consulting__item--textarea:focus{
    outline: 1px solid #999797;
}
[class*="form-consulting__item"]{
    cursor: pointer;
}
.form-consulting__item--textarea {
    outline: 1px solid #DDD;
    background-color: #F8F8F8;
    padding: 22px 40px;
    width: 100%;
    margin-bottom: 50px;
    resize: vertical;
    height: 222px;
}
.form-consulting__button{
    display: flex;
    justify-content: center;
}
.form-consulting__submit-button {
   padding: 21px 61px;
   background: #6B77E5;
   color: #FFF;
   font-weight: 600;
   text-transform: capitalize;
   transition: all 0.3s;
}
.form-consulting__submit-button:hover{
    background: #fff;
    color: #6B77E5;
    outline: 1px solid #6B77E5;
   
}
.form-consulting__submit-button:active{
    background: #6B77E5;
    transition: all 0.2s;
   color: #FFF;
}
/*==================================================================*/
.section-two {
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #3C4242;
}
.section-two__container {
    max-width: 925px;
    padding: 40px 15px ;
    margin: 0 auto;
}
.form-two__title,.form-two__sub-title {
    font-family: "Core Sans C", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.56px;
    margin-bottom: 20px;
}
.form-two__sub-title {
    font-size: 22px;
    line-height: 1.52;
    letter-spacing: 0.44px;
    margin-bottom: 50px;
}
.form-two__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    column-gap: 42px;
}
.form-two__item{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 28px;
}
.form-two__input{
    border-radius: 8px;
    background: #F6F6F6;
    padding: 18px 22px;
}
.form-two__input::placeholder{
    color: #807D7E;
    font-size: 16px;
    font-weight: 400;
}
.form-two__select{
    padding: 18px 22px;
    border-radius: 8px;
    background: #F6F6F6;
    font-size: 16px;
    color: #807D7E;
}
.form-two__item--textarea {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    gap: 10px;
}
.form-two__textarea{
    height: 149px;
    resize: vertical;
    border-radius: 8px;
    background: #F6F6F6;
    padding: 18px 22px;
    margin-bottom: 30px;
}


.form-two__item--checkbox {
    flex: 0 1 100%;
    
    position: relative;
}

.form-two__item--margin{
    margin-bottom: 15px;
}
.form-two__label--checkbox {
    font-size: 20px;
    font-weight: 400;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
[class*="form-two__input"],.form-two__textarea,.form-two__label--checkbox{
    cursor: pointer;
}
.form-two__label--checkbox::before{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: #fff;
    content: "";
    border: 2px solid #BEBCBD ;
    border-radius: 2px;
}
.form-two__input--checkbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.form-two__input--checkbox:checked +.form-two__label--checkbox::before{
    background-color: rgb(195, 239, 15);
}
.form-two__button-submit {
    margin-right: 30px;
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    background: #8A33FD;
    padding: 12px 40px;
    transition: all 0.3s;
}
.form-two__button-submit:hover{
    color: #8A33FD;
    background: #fff;
    outline: 1px solid #8A33FD;
}
.form-two__button-submit:active{
    background: #8A33FD;
    color: #fff;
}
.form-two__button-reset {
    border-radius: 8px;
    background: #F6F6F6;
    padding: 12px 40px;
    color: #807D7E;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
}
.form-two__button-reset:hover{
    background: #807D7E;
    color: #F6F6F6;
}
.form-two__button-reset:active{
    background: #F6F6F6;
    color: #807D7E;
}


