@import "_reset.scss";
@import "_fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
//коментар
/*=======*/
$tablet:992px;
$mobile:767px;
$mobileSmall:480px;
$mobileMini:320px;
[class*="__container"]{
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*========================================*/
body{
    .open-menu &{
        overflow: hidden;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
    
}
.page {
    .open-menu &{
        overflow-x: hidden;
    }
    flex-grow: 1;
    padding-top: 108px;
    transition: all 0.5s;
    @media (max-width:$tablet){
        padding-top: 52px;
    }
    @media (max-width:$mobile){
        .open-input &{
            padding-top: 106px;
         }
    }
    @media (max-width:1100px) and (min-width:$tablet) {
        .open-input &{
           padding-top: 162px;
        }
        
    }
}
.footer {
}
/*=====================================================*/
.header {
    font-family: "Causten", sans-serif;
    font-size: 22px;
    color: #807D7E;
    font-weight: 500;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    &__container {
        min-height: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        @media(max-width:$tablet){
            min-height: 52px;
        }
        @media(max-width:400px){
           justify-content: flex-start;
        }
    }   
    &__menu {
    }
    &__logo {
        position: relative;
        z-index: 1;
        @media(max-width:400px){
             flex: 1 1 auto;
        }
       
    }
    &__burger{
        height: 21.5px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
       
            &>span{
                width: 30px;
                height: 2px;
                background: #403f3f;
                border-radius: 2px;
                transition: all 0.3s;
            }
            &::before,&::after{
                content: "";
                width: 30px;
                height: 2px;
                background: #403f3f;
                border-radius: 2px;
                transition: all 0.3s;
            }
           
            .open-menu & span{
                width: 0;
                transform: translateX(15px);
            }
       
            .open-menu &::before{
                transform-origin: top left;
                transform: rotate(41deg);
            }
            .open-menu &::after{
                transform-origin: bottom left;
                transform: rotate(-41deg);
            }
            @media(min-width:992px){
                display: none;
            }
    }
    &__search{
       position: relative;
        &::before{
            content: "";
            width: 20px;
            height: 20px;
            background: url("../img/search.svg") center/cover no-repeat;
            position: absolute;
            top: 10px;
            left: 20px;
         }
         @media(max-width:1100px) and (min-width:$tablet),(max-width:$mobile){
                position: relative;
                flex: 0 0 44px;
                height: 44px;
                background:#f6f6f6 url("../img/search.svg") center/20px 20px no-repeat;
                border-radius: 8px;
                transition: all 0.3s;
                @media(any-hover:hover){
                    &:hover{
                        transform: scale(1.1);
                    } 
                }
                &::before{
                    content: "";
                   display: none;
                 }
         }
    }
    &__search-two{
        position: fixed;
        background-color: #8A33FD;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 108px;
        left: -100%;
        transition: all 0.5s;
        padding: 5px 20px;
        & span{
            content: '';
            background: url('../img/search.svg') 0 0/cover no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 45px;
            top: 15px;
            
        }
        @media(max-width:$mobile){
            top: 52px;
        }
        @media(max-width:1100px) and (min-width:$tablet),(max-width:$mobile){
            .open-input &{
               left: 0;  
            }
        }
        @media(max-width:$mobile){
            .open-input &{
                 top: 52px;
            }
           
        }
    }
    &__input-two{
        position: relative;
        width: 100%;
    }
    &__input{
        flex: 0 1 267px;
    }
    &__input-two,&__input{
        cursor: pointer;
        height: 44px;
        
        padding-left: 52px;
        padding-right: 20px;
        border-radius: 8px;
         background: #F6F6F6;
         font-size: 16px;
         transition: all 0.3s;
         &:focus{
            outline: 2px solid #000 ;
         }
         &::placeholder{
            color: #807D7E;
            font-size: 16px;
            font-weight: 400; 
        }
        @media(any-hover:hover){
           &:hover{
               outline: 1px solid #807D7E ;
            } 
       }
    }
    &__input {
        @media(max-width:1100px) and (min-width:$tablet),(max-width:$mobile){
            width: 0;
            height: 0;
            display: none;
        }
    }
    &__actions {
    }
}
.menu {
    transition: all 0.5s;
    
    @media(max-width:$tablet){
        background-color: #F6F6F6;
        position: fixed;
        padding-top: 52px;
        overflow-x: auto;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%; 
        .open-menu &{
            top: 0;
        }
        &::before{
            transition: all 0.5s;
            content: "";
            position: fixed;
            width: 100%;
            height: 52px;
            top: -100%;
            left: 0;
            background: #EDEEF2;
            z-index: 3;
        }
        .open-menu &::before{
            top: 0;
        }
    }
    .open-menu.open-input &{
        @media(max-width:$mobile){
            padding-top: 102px;
        }
    }
    &__list {
        display: flex;
        column-gap: 40px;
        row-gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        @media(max-width:$tablet){
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
        }
    }
    &__item {
        &--active{
            color: #3C4242;
            font-weight: 700;
        }
    }
    &__link {
        @media(any-hover:hover){
            &:hover{
                text-decoration: underline;
            } 
        }
        @media(max-width:$tablet){
            font-size: 35px;
            row-gap: 25px;
        }
    }
}
.actions {
    @media(max-width:400px){
        width: 44px;
        display: flex;
        position: relative;
    }
    &__button{
        flex:  0 0 44px;
        height: 44px;
        border-radius: 8px;
        background: #F6F6F6 url('../img/actions-icon.svg')center/20px 20px no-repeat;
        cursor: pointer;
        transition: all 0.3s;
        @media(any-hover:hover){
            &:hover{
                transform: scale(1.1);
            } 
        }
        &:active{
            transform: scale(1);
        }
        @media(min-width:401px){
            display: none;
        }
    }
    &__body{
        @media(max-width:400px){
            position: absolute;
            top: -300%;
            left: -5px;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            margin-top: 5px;
            flex-direction: column;
            padding-top: 10px;
            transition: all 0.5s;
            .open-actions &{
                top: 100%;
                width: auto;
                height: auto;
                opacity: 1;
                visibility: visible;
            }
            padding: 5px;
            border-radius: 8px;
            background-color: #3C4242;
        }
        display: flex;
        gap: 12px;
        flex: 0 0 44px;
    }
    &__item {
        position: relative;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: #F6F6F6;
        cursor: pointer;
        transition: all 0.3s;
        @media(any-hover:hover){
            &:hover{
                transform: scale(1.1);
            } 
        }
        &:active{
            transform: scale(1);
        }
    }
} 
/*======================================================*/
.page {
    display: flex;
    flex-direction: column;
    &__hero {
        background: url('../img/shop-hero.jpg') top center/cover no-repeat;
        margin-bottom: 130px;
        flex: 0 1 auto;
        font-family: 'Core Sans C',sans-serif;
        font-size: 32px;
        color: #fff;
        font-weight: 500;
        @media(max-width:$mobile){
            background: url('../img/shop-hero.jpg') 60%/cover no-repeat;
        }
        @media(max-width:$tablet){
           
            margin-bottom: 80px;
        }
    }
}
.hero {
    &__container {
        
        display: flex;
        min-height: 716px;
        align-items: center;
    }
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding-left: 87px;
       
       
        @media(max-width:658px){
            padding-left: 27px;
        }
        @media(max-width:558px){
            padding-left: 15px;
        }
    }
    &__right-block{
       flex: 1 1 auto;
    }
    &__sub-title-top {
        line-height: 1.2;
        letter-spacing: 0.157px;
        text-transform: capitalize;
    }
    &__title {
        letter-spacing: 0.315px;
        line-height: 1.2;
        font-size: 78px;
        text-transform: capitalize;
        @media(max-width:558px){
           font-size: 60px;
        }
    }
    &__sub-title-bottom {
        letter-spacing: 0.315px;
        line-height: 1.5;
    }
    &__button{

    }
    &__link {
        display: inline-block;
        padding: 16px 72px;
        color: #3C4242;
        text-transform: capitalize;
        font-family: 'Causten',sans-serif;
        font-weight: 700;
        font-size: 24px;
        border-radius: 8px;
        background: #FFF;
        transition: all 0.4s;
        @media(any-hover:hover){
            &:hover{
                color: #fff;
                background: #3C4242;
            }
            &:active{
                color: #3C4242;
                background: #fff;
            }
        }
    }
}
/*====================================================*/
.page {
    &__two-card {
        font-family: "Core Sans C", sans-serif;
        color: #fff;
        font-weight: 800;
       
        margin-bottom: 100px;
        @media(max-width:$tablet){
           
            margin-bottom: 70px;
        }
    }
}
.two-card {
    &__container {
        display: flex;
        column-gap: 30px;
       @media(max-width: $mobile){
        flex-direction: column;
        row-gap: 30px;
       }
    }
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
        object-fit: cover;
        
    }
    &__item {
        position: relative;
        min-height: 355px;
        flex: 1 1 47%;
        border-radius: 12px;
        overflow: hidden;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-width: $mobile){
            flex: 0 1 100%;
        }
        @media(max-width:$mobileSmall ){
            min-height: 300px;
        }
    }
    &__sub-title {
        font-family: "Montserrat",sans-serif;
        line-height: 1.67;
        letter-spacing: 0.251px;
        position: relative;
        &:not(:last-child){
            margin-bottom: 24px;
       }
    }
    &__title {
        font-size: 34px;
        line-height:1.32;
        position: relative;
        max-width: 284px;
        &:not(:last-child){
            margin-bottom: 9px;
        }
        @media(max-width:$mobileSmall ){
            max-width: 150px;
        }
        @media(max-width: $tablet) and (min-width: $mobile){
            max-width: 150px;
        }
    }
    &__sale {
        &:not(:last-child){
             margin-bottom: 41px;
        }
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        letter-spacing: 0.251px;
        position: relative;
       
    }
    &__link {
        position: relative;
        font-size: 20px;
        line-height: 1.5;
        align-self: flex-start;
        text-decoration: underline;
        transition: all 0.3s;
        &:hover{
            text-decoration: none;
        }

    }
}
/*========================================================*/
.title{
    color: #3C4242;
        font-family: 'Core Sans C',sans-serif;
        font-size: 34px;
        font-weight: 600;
        letter-spacing: 0.68px;
        display: flex;
        column-gap: 20px;
        &::before{
            content: "";
            width: 6px;
            height: 30px;
            border-radius: 10px;
            background: #8A33FD;
        }
}
.arrival {
    margin-bottom: 95px;

    &__container {
    }

    &__title {
        margin-bottom: 70px;
        
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(262px,1fr));
        gap: 39px;
        @media(max-width:600px){
            grid-template-columns: repeat(auto-fill,minmax(300px,auto));
            justify-items: center;
           
            gap: 30px;
        }
    }

    &__item {
      
    }

    &__image {
        transition: all 0.3s;
        
        @media(any-hover:hover){
            &:hover{
                transform: scale(1.05);
               
            }
        }
        &>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio:262/262; 
        }
        margin-bottom:33px ;
    }

    &__name {
        color: #3C4242;
        font-family: 'Causten',sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.2px;
        cursor: pointer;
        @media(any-hover:hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}





